In [1]:
import pandas as pd

In [2]:
def read_data(id):
    return pd.read_csv('https://drive.google.com/uc?export=download&id='+id_dict[id])

id_dict = {
    'products': '1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU',
    'orders': '1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ',
    'orderlines': '1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG',
    'brands': '1m1ThDDIYRTTii-rqM5SEQjJ8McidJskD',
}

org_products_df = read_data('products')
org_orders_df = read_data('orders')
org_orderlines_df = read_data('orderlines')
org_brands_df = read_data('brands')

In [3]:
products_df = org_products_df.copy()
orders_df = org_orders_df.copy()
orderlines_df = org_orderlines_df.copy()
brands_df = org_brands_df.copy()

In [4]:
orderlines_df.describe()

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

In [12]:
orderlines_df['index_offset'] = (orderlines_df['id'] - orderlines_df.index - 1119109)

In [14]:
orderlines_df = orderlines_df.drop('index_offset',axis=1)