In [9]:
import pandas as pd

def import_csv(url):
  path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
  return pd.read_csv(path)

orderlines_url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing"
orders_url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing"
products_url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing"
brands_url = "https://drive.google.com/file/d/1XGyabaa4mAkjixMk3XPgx_14OoSse3rs/view?usp=sharing"

orderlines_df = import_csv(orderlines_url)
orders_df = import_csv(orders_url)
product_df = import_csv(products_url)
brands_df = import_csv(brands_url)

#### Exercise 1: Convert the date column in the orderlines table into a datetime

In [8]:
orderlines_df.groupby(['sku'][:3]).size()

sku
8MO0001-A     2
8MO0003-A     3
8MO0007      29
8MO0008      30
8MO0009      28
             ..
ZAG0041       2
ZAG0042       1
ZEP0007       5
ZEP0008       1
par0072      12
Length: 7951, dtype: int64

#### Exercise 2: Use `.loc` to filter the orderlines data frame down to just rows where the `unit_price` does not have multiple periods. Then convert the column to numeric

In [16]:
orderlines_df = orderlines_df.loc[~orderlines_df["unit_price"].str.contains(r'\.\d*\.')]
orderlines_df['unit_price'] =  orderlines_df['unit_price'].astype(float)

##### Hint:

`df = df.loc[~(______)]`<br>
`pd.to_numeric()`

#### Exercise 3: Calculate the difference between the maximum and minimum `unit_price`

In [ ]:
minprice = orderlines_df["unit_price"].min()
maxprice = orderlines_df["unit_price"].max()
print("The difference between min ({:.2f}) and maxprice ({:.2f}) is {:.2f}".format(minprice, maxprice, maxprice - minprice))

Dhe difference between min (-119.00) and maxprice (999.99) is 1118.99

##### Hint:

`.max()`<br>
`.min()`

#### Exercise 4: Get the total quantity of items grouped by the order and save it in a data frame called `order_quantities`

In [28]:
order_quantities = orderlines_df.groupby("id_order")["product_quantity"].sum()

##### Hint:

`.groupby().agg({})`

#### Exercise 5: merge `order_quantities` with `orders_df`

In [29]:
orders_df.merge(order_quantities,left_on="order_id", right_on="id_order")

,order_id,created_date,total_paid,state,product_quantity
0,241319,2017-01-02 13:35:40,44.99,Cancelled,1
1,241423,2017-11-06 13:10:02,136.15,Completed,1
2,242832,2017-12-31 17:40:03,15.76,Completed,1
3,243330,2017-02-16 10:59:38,84.98,Completed,1
4,243784,2017-11-24 13:35:19,157.86,Cancelled,3
...,...,...,...,...,...
186668,527397,2018-03-14 13:56:38,42.99,Place Order,1
186669,527398,2018-03-14 13:57:25,42.99,Shopping Basket,1
186670,527399,2018-03-14 13:57:34,141.58,Shopping Basket,1
186671,527400,2018-03-14 13:57:41,19.98,Shopping Basket,2
186672,527401,2018-03-14 13:58:36,18.98,Place Order,1

##### Hint:

```
df.merge(df2,
         left_on=_____,
         right_on=_____,
         how=_____)
```

#### Bonus: Get the total quantity of items in each state (shopping basket, completed, etc.)

In [30]:
orders_df.merge(order_quantities,left_on="order_id", right_on="id_order").groupby('state')['product_quantity'].sum()

state
Cancelled            8145
Completed           65981
Pending             19601
Place Order         32853
Shopping Basket    164649
Name: product_quantity, dtype: int64

##### Hint:

`.groupby()`