In [50]:
import pandas as pd

orders_url = "https://drive.google.com/file/d/1Tla62vfu__kCqvgypZyVt2S9VuC016yH/view?usp=sharing"
orderlines_url = "https://drive.google.com/file/d/1OhtkQS2fwOYdzfd-qPh7im35iLc-L9TA/view?usp=sharing"
products_url = "https://drive.google.com/file/d/1s7Lai4NSlsYjGEPg1QSOUJobNYVsZBOJ/view?usp=sharing"
brands_url = "https://drive.google.com/file/d/1XGyabaa4mAkjixMk3XPgx_14OoSse3rs/view?usp=sharing"

def import_csv(url):
  path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
  return pd.read_csv(path)

orderlines_cl = import_csv(orderlines_url)
orderlines_cl['date'] = pd.to_datetime(orderlines_cl['date'])
orders_cl = import_csv(orders_url)
orders_cl['created_date'] = pd.to_datetime(orders_cl['created_date'])
product_cl = import_csv(products_url)
brands_df = import_csv(brands_url)

#### Exercise 1: How many different orders are in the orderlines data frame?

In [8]:
orderlines_cl = orderlines_cl.rename(columns={"id_order" : "order_id"})

##### Hint:

In [10]:
orderlines_cl["order_id"].nunique()

170213

`.nunique()`

#### Exercise 2: How many orders are in *both* the orderlines and orders data frames

In [25]:
len(set(orderlines_cl["order_id"]) & set(orders_cl["order_id"]))

170069

##### Hint:

1. Get the sets of order ids in either table using `set()`
2. Look at the intersection of those sets with `&`
3. Use `len()` to get a count of how many orders there are in this intersection

#### Exercise 3: How many orders have more than 3 *different* products in them?

In [38]:
(orderlines_cl.groupby("order_id")["sku"].nunique() > 3).sum()

order_id
241319    False
241355    False
241423    False
242832    False
243330    False
          ...
527397    False
527398    False
527399    False
527400    False
527401    False
Name: sku, Length: 170213, dtype: bool

##### Hint:

`.groupby(______).agg({______:'nunique'})`<br>
Once you have the number of unique products for each order, there are several ways you can count up how many orders have more than 3

#### Exercise 4: In which quarter do we usually see the most items "sold"?<br>
(Bonus: only include completed orders)

In [64]:
#orders_cl = orders_cl.loc[orders_cl["state"]=="Completed"]
#orders_cl["quarter"] = orders_cl["created_date"].dt.quarter
#orders_cl.groupby("quarter")["order_id"].count()
orders_cl.set_index("created_date").resample("QE").count()

              order_id  total_paid  state  quarter
created_date
2017-03-31        7611        7611   7611     7611
2017-06-30        5132        5132   5132     5132
2017-09-30        7976        7976   7976     7976
2017-12-31       15833       15833  15833    15833
2018-03-31       10053       10053  10053    10053

##### Hint:

`.dt.quarter`<br>
`.groupby().agg()`<br>
To incorporate state, you will need to merge with the orders data frame

#### Exercise 5: Create a line plot visualizing the evolution of the total quantity of products being "sold" daily<br>
(Bonus: only plot completed orders)

#####Hint:

`.resample().agg().plot()`<br>
To incorporate state, you will need to merge with the orders data frame

####Bonus: Create a new column called 'revenue' in the orderlines data frame by multiplying the unit price by the quantity. Create another line plot visualizing the evolution of revenue over time<br>
(Bonus: only plot completed orders)

In [ ]:
# Your code here

#####Hint:

`df[] = df[] * df[]`<br>
`.resample().agg().plot()`<br>
To incorporate state, you will need to merge with the orders data frame