In [2]:
import pandas as pd
# orderlines.csv
#url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing"
#path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
#orderlines_df = pd.read_csv(path)

#### Exercise 1: Create a function based on the code above that can take in a url and returns a data frame. <br>Then use that function to import the 3 other data frames using the urls below, saving them to variables named `orders_df`, `products_df`, and `brands_df` respectively.

In [3]:
def read_data(urlin):
    path = "https://drive.google.com/uc?export=download&id="+urlin.split("/")[-2]
    return pd.read_csv(path)


orderlines_url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing"
orders_url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing"
products_url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing"
brands_url = "https://drive.google.com/file/d/1XGyabaa4mAkjixMk3XPgx_14OoSse3rs/view?usp=sharing"


org_products_df = read_data(products_url)
org_orders_df = read_data(orders_url)
org_orderlines_df = read_data(orderlines_url)
org_brands_df = read_data(brands_url)

products_df = org_products_df.copy()
orders_df = org_orders_df.copy()
orderlines_df = org_orderlines_df.copy()
brands_df = org_brands_df.copy()

# Your code here

##### Hint:

```
def function_name(input):
  #do something with the input
  return output
```

#### Exercise 2: Get a count of how many orders are in each state

2

##### Hint:

`.value_counts()`

#### Exercise 3: Check the data types of the products data frame

In [ ]:
# Your code here

##### Hint:

`.info()`

#### Exercise 4: Why can't the price column in the products data frame be converted to a numerical data type?

In [21]:
#products_df = products_df.dropna(subset = ['price'])
#products_df = products_df.loc[~((products_df['price'].str.contains(r"\.\d*\.") | (products_df['price'].str.contains(r"\.\d{3}$"))))]
products_df['price'].astype(float)

0        59.99
1        59.00
2        59.00
3        25.00
4        34.99
         ...
19321    29.99
19322    69.95
19323    69.95
19324    69.95
19325    69.95
Name: price, Length: 18684, dtype: float64

##### Hint:

`pd.to_numeric()`

#### Exercise 5: How many rows have prices with more than 1 period in them? What percentage is this of the total data frame? <br>(Careful of regex!)

In [ ]:
# Your code here

##### Hint:

`.str.count()`<br><br>
`'.'` is a special character in regex which is a wild card. A count of `'.'` will be a count of the total characters in the string. To count actual periods, you need to use a backslash to turn it back into a normal character: `'\.'`

#### Bonus: Create a new column in the products data frame called `"corrupted"` and set it to `False` for all rows. Select rows where the price has more than 1 period in it and set the corrupted column for those rows to equal `True`.

In [ ]:
# Your code here

##### Hint:

Create a new column and assign it a constant value with the following syntax: `df['new_column'] = constant_value_for_all_rows`<br>
You can alter a columns value under specific conditions with the following syntax: `df.loc[boolean_mask, 'column_to_alter'] = new_value`